.no-padding {
    padding: 0;
}
.base {
    width: 25%; /* Adjust the width as needed */
    height: 50%; /* Adjust the height as needed */
    text-align: center;
}
p {
    font-family: monospace;
}
body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
#sidebar {
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
    position: fixed;
    overflow-y: auto;
}
#sidebar-top {
    position: sticky;
    top: 0;
    background-color: #333; 
}
#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px; 
}
#sidebar li {
    margin-bottom: 10px;
}
#sidebar a {
    color: #fff;
    text-decoration: none;
}
#content {
    margin-left: 220px;
    padding: 20px;
}
a.button {
    display: block;
    width: 150px;
    padding: 5px;
    color: #fff;
    text-decoration: none;
}