.login {
    width: 25%; /* Adjust the width as needed */
    height: 50%; /* Adjust the height as needed */
    text-align: center;
}

body {
    display: flex;
    background: linear-gradient(antiquewhite, white);
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: sans-serif;
}

p {
    font-family: monospace;
}