{% extends "home.html" %}

{%block content%}
    <h2>Create Note</h2><br>

    {% with messages = get_flashed_messages(category_filter=["noteSuccess"]) %}
        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }} 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form id="create_note_form" method="POST" action=""> 
        {{ form.hidden_tag() }}

        <!-- select page dropdown menu-->
        <label for="{{ form.page_menu.id }}">{{ form.page_menu.label }}</label>
        <select class= "form-select custom-select" id="{{ form.page_menu.id }}" name="{{form.page_menu.name}}">
            {% for page in form.page_menu.choices %}
                <option value="{{ page.id }}"> {{ page.title }}</option>
            {% endfor %}
        </select>

        <!-- select template drowpdown -->
        <label class="padding-left" for="{{ form.template_menu.id }}">{{ form.template_menu.label }}</label>
        <select class="form-select custom-select" id="{{ form.template_menu.id }}" name="{{form.template_menu.name}}">
            {% for template in form.template_menu.choices %}
                <option value="{{ template.id }}"> {{ template.title }}</option>
            {% endfor %}
        </select>

        <p> 
            {{ form.title.label}} <br>
            {{ form.title(class="form-control") }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p> {{ form.body.label }}
            <!-- Create the editor container -->
            <div id="editor">
            </div>
            <input type="hidden" id="note_body" name="content">
        </p>
        <button type="button" class="btn btn-outline-primary" onclick="submitForm()"> Create Note </button>
    </form>

    <!-- script for submitting form and getting quill stuff in here as well-->
    <!-- Script for populating the text area (inputting the template) based on their template selection -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#editor', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, 3, 4, false] }],
                    ['bold', 'italic', 'underline'],  // Basic formatting options
                    ['code-block']
                ]
            },
            theme: 'snow',
            readOnly: false
        });

        // Add an event listener to the dropdown
        document.getElementById('template_menu').addEventListener('change', function() {
            // Get the selected option value
            var selectedOption = this.value;

            console.log(selectedOption)
            fetch('/get_template_body/' + selectedOption)
                .then(response => response.json())
                .then(data => {
                    // Update the content of the textarea with the templates body
                    quill.root.innerHTML = data.body;
                })
                .catch(error => console.error('Error:', error));
        });

        function submitForm() {
            var content = quill.root.innerHTML;
            var note_body = document.getElementById('note_body').value = content;
            document.getElementById('create_note_form').submit();
        }
    </script>
{%endblock%}