{%extends "home.html" %}

{%block content%}
    <h2>Create Page</h2><br>

    {% with messages = get_flashed_messages(category_filter=["pageSuccess"]) %}
        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }} 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <form method="POST" action=""> 
        {{ form.hidden_tag() }}

        <p> 
            {{ form.title.label}} <br>
            {{ form.title(class="form-control") }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <p>
            {{ form.description.label }} <br>
            {{ form.description(class="form-control", rows="10") }}
        </p>
        <p> {{ form.submit(class="btn btn-outline-primary") }} </p>
    </form>
{%endblock%}