{%extends "home.html" %}

{%block content%}
    <h2>Create Note</h2><br>

    {% with messages = get_flashed_messages(category_filter=["noteSuccess"]) %}
        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }} 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" action=""> 
        {{ form.hidden_tag() }}

        <!-- select template drowpdown -->
        <label for="{{ form.template_menu.id }}">{{ form.template_menu.label }}</label>
        <select id="{{ form.template_menu.id }}" name="{{form.template_menu.name}}">
            {% for template in form.template_menu.choices %}
                <option value="{{ template.id }}"> {{ template.title }}</option>
            {% endfor %}
        </select>

        <p> 
            {{ form.title.label}} <br>
            {{ form.title(class="form-control") }}
        </p>

        <p>
            {{ form.body.label }} <br>
            {{ form.body(class="form-control", rows="10") }}
        </p> <br>

        <p> {{ form.submit(class="btn btn-outline-primary") }} </p>
    </form>

    <!-- Script for populating the text area (inputting the template) based on their template selection -->
    <script>
        // Add an event listener to the dropdown
        document.getElementById('template_menu').addEventListener('change', function() {
            // Get the selected option value
            var selectedOption = this.value;

            console.log(selectedOption)
            fetch('/get_template_body/' + selectedOption)
                .then(response => response.json())
                .then(data => {
                    // Update the content of the textarea with the templates body
                    document.getElementById('body').value = data.body;
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
{%endblock%}