<html>
    <head>
        <link rel="stylesheet" href="../static/css/create_account.css">
        <title>Scribe - Create Account</title>
    </head>
    <body>
        <div class="create-acc">
            <h1>Create Account</h1>
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}
                    <br> <br>
                    {{ form.username(size=32) }} <br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}
                    <br> <br>
                    {{ form.password(size=32) }} <br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}
                    <br> <br>
                    {{ form.password2(size=32) }} <br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}
                    <br> <br>
                    {{ form.email(size=32) }} <br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
                <p> Already Have an Account? <a href="{{'/login'}}">Sign In</a></p>
            </form>
        </div>
    </body>
</html>