<html>
    <head>
        <title>Scribe</title>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../static/css/home.css">
        
    </head>
    <body>
      <div class="container-fluid no-padding">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <span class="navbar-brand mb-0 h1">Scribe</span>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="#"> <i class="bi bi-search"></i> Search</a>
                  <a class="nav-item nav-link" href="#"> <i class="bi bi-share"></i> Share</a>
                  <a class="nav-item nav-link" href="#"> <i class="bi bi-box-arrow-up"></i> Export</a>
                  <a class="nav-item nav-link" href="#"> <i class="bi bi-three-dots-vertical"></i> Options</a>
                  <a class="nav-item nav-link" href="{{ url_for('trash_folder') }}"> <i class="bi bi-archive"></i> Trash</a>
                </div>
              </div>

            </nav>
      </div>
          
      <div id="sidebar">
        <div id="sidebar-top">
        <a class="button" href="{{ url_for('trash_folder') }}"><i class="bi bi-plus-lg"></i> Create Note</a>
        <a class="button" href="#"><i class="bi bi-plus-lg"></i> Create Template</a>
        <a class="button" href="#"><i class="bi bi-plus-lg"></i> Create Page</a>
        </div>
        <ul>
          {% for note in notes %}
            <li>
              <a class="button"href="{{ url_for('view_note', note_id=note['id']) }}">{{ note['title'] }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div id="content">
        {% block content %} {% endblock %}
      </div>


      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
              integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
              crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" 
              integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
              crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" 
              integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
              crossorigin="anonymous"></script>
    </body>
</html>






