{% extends "home.html" %}

{% block content%}  


    <!-- displays user a message when note is trashed (& when there is an error moving to trash), deleted & recovered-->
    {% with messages = get_flashed_messages(category_filter=["deletionSuccess", "recoverySuccess", "trashSuccess", "trashError", "notePgError"]) %}
        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }} 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h3>Trashed Notes:<h3><hr>
    {% if trashed_notes %}
        {% for notes, page in trashed_notes.items() %}
            <form method="post" action="{{ url_for('note_man',note_id=notes.id) }}" onsubmit="return myFunction();">
                {{ form.hidden_tag() }}
                <ul class="list-group list-group-flush">

                    <div class="row mb-2">
                        <div class="col" style="font-size: 20px;"> 
                            <li class="list-group-item">
                                <a href="{{ url_for('view_note', note_id=notes.id) }}"> {{ notes.title }}</a> <br>
                                <small>Date: {{ notes.trashed_time.strftime("%m-%d-%y") }}</small> <br>
                                <small>Page: {{ page.title }} </small>
                            </li>
                        </div>

                        <div class="col-auto">
                            {{ form.recover_note(class="btn btn-primary") }}
                            {{ form.delete(class="btn btn-danger") }}
                        </div>
                    </div>

                </uL>
            </form>
        {%endfor%}
    {%else%}
            <p class="text-muted" style="font-size: 20px;">No notes in trash</p>
    {% endif%}

    <br><h3>Trashed Pages:<h3><hr>
    {% if trashed_pages %}
        {% for pages in trashed_pages%}
            <form method="post" action="{{ url_for('page_man',page_id=pages.id) }}" onsubmit="return myFunction();">
                {{ form.hidden_tag() }}

                <ul class="list-group list-group-flush">
                    <div class="row mb-2">
                        <div class="col" style="font-size: 20px;"> 
                            <li class="list-group-item">
                                <a href="{{ url_for('view_page', page_id=pages.id) }}"> {{ pages.title }} </a></br>
                                <small>Date: {{ pages.trashed_time.strftime("%m-%d-%y") }}</small> <br>
                                <small>ID: {{ pages.id }}</small> <br>
                            </li>
                        </div>
                        <div class="col-auto">
                            {{ form.recover_note(class="btn btn-primary") }}
                            {{ form.delete(class="btn btn-danger") }}
                        </div>
                    </div>
                </uL>
            </form>
        {%endfor%}
    {% else %}
        <p class="text-muted" style="font-size: 20px;">No pages in trash</p>
    {% endif %}


    <br><h3>Trashed Templates:<h3><hr>
    {% if trashed_templates %}
        {% for template in trashed_templates %}
            <form method="post" action="{{ url_for('temp_man',temp_id=template.id) }}" onsubmit="return myFunction();">
                {{ form.hidden_tag() }}
                <ul class="list-group list-group-flush">
                    <div class="row mb-2">
                        <div class="col" style="font-size: 20px;"> 
                            <li class="list-group-item">
                                <a href="{{ url_for('templates', temp_id=template.id) }}"> {{ template.title }}</a></br>
                                <small>Date: {{ template.trashed_time.strftime("%m-%d-%y") }}</small> <br>
                            </li>
                        </div>
                        <div class="col-auto">
                            {{ form.recover_note(class="btn btn-primary") }}
                            {{ form.delete(class="btn btn-danger") }}
                        </div>
                    </div>
                </ul>
            </form>
        {%endfor%}
    {% else %}
            <p class="text-muted" style="font-size: 20px;">No templates in trash</p>
    {% endif %}
                
    <script>
        function myFunction() {
            var result = confirm("Are you sure you want to do this action?");
            return result;
        }
    </script>
{% endblock %}