{% extends "home.html" %}

{% block content%}  

    {% with messages = get_flashed_messages(category_filter=["noteEditSuccess"]) %}
        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }} 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="row mb-2">
            <div class="col" style="font-size: 20px;">
            <p><small>last change: {{ form.timestamp }}</small></p>
            {{ form.title.label }} 
            {{ form.title }} 
            <br>    
            <p>
                {{ form.body.label }} <br>
            </p>
            <p>
                {{ form.body(class="form-control", rows="10") }}
            </p> <br>

            </div>

            <div class="col-auto">
                <a href = "{{ url_for('move_to_trash', note_id=note.id)}}" class="btn btn-outline-danger">Trash</a>
            </div>

            <div class="col-auto">
                <a href = "{{ url_for('share_note', note_id=note.id)}}" class="btn btn-outline-primary">Share</a>
            </div>

            <div class="col-auto">
                <p> {{ form.submit(class="btn btn-outline-primary") }} </p>
            </div>
            
        </div>
    </form>

{% endblock %}