{% extends "home.html" %}

{% block content%}  
    <h2> Profile Information </h2> <br>
    {% with messages = get_flashed_messages(category_filter=["profileEditSuccess", "NotprofileEditSuccess"]) %}
        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }} 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form id="view_profile_form" method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="row mb-2 inline-container">
            <div class="col" style="font-size: 20px;"> 
                    <p> {{form.username.label}}
                    {{form.username}}
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %} 
                    </p>
                    <br>

                    <p>{{form.email.label}}
                    {{form.email}}
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}    
                    </p> <br>
            </div>
            <div class="col" style="font-size: 20px;">
                <p> Edit Your Templates </p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select a Template to Edit
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for template in form.template_menu.choices %}
                        <a class="dropdown-item" href="{{ url_for('view_template', template_id=template.id) }}"> {{ template.title }}</a>
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-auto">
                <a href = "{{ url_for('change_password')}}" class="btn btn-outline-danger">Change Password</a>
            </div> 
            <div class="col-auto">
                {{form.submit(class="btn btn-outline-primary")}}
            </div>
            <div class="col-auto">
                <a href = "{{ url_for('delete_profile')}}" class="btn btn-outline-danger">Delete Profile</a>
            </div>
        </div>
    </form>  
    
{% endblock %}